@{
    ViewBag.Title = "ViewGroups";
}
<body style="background-image: url('/Images/Background Images/PokemonAbout.jpg'); background-repeat: no-repeat; position: center; background-size: cover; background-attachment: fixed">
    <h1 style="color: yellow; font-family: 'Pokemon Solid'; text-shadow: 2px 1px blue; letter-spacing: 3px; padding: 10px; background-color: dimgray; opacity: .95; border-radius: 5px">404: Page not Created</h1>
    <p style="font-size: x-large; letter-spacing: 2px; font-family: 'Pokemon Solid'; color: #e51010; background-color: black; opacity: .95; border-radius: 5px; padding: 10px">Sorry. Looks like this page has not been created yet. Come back when the page has been completed to view Groups you are apart of</p>
</body>

