@{
    ViewBag.Title = "About";
}
<body style="background-image: url('/Images/Background Images/PokemonAbout.jpg'); background-repeat: no-repeat; position: center; background-size: cover; background-attachment: fixed">
    <h1 style="color: yellow; font-family: 'Pokemon Solid'; text-shadow: 2px 1px blue">About my capstone</h1>
    <p style="font-family: 'Pokemon Solid'; padding: 5px">Welcome to my CAPSTONE</p>
</body>
