@{
    ViewBag.Title = "About";
}
<body style="background-image: url('/Images/Background Images/PokemonAbout.jpg'); background-repeat: no-repeat; position: center; background-size: cover; background-attachment: fixed">
    <h1 style="color: yellow; font-family: 'Pokemon Solid'; text-shadow: 2px 1px blue; letter-spacing: 3px"><u>About My Capstone</u></h1>
    <br>
    <p style="font-family: 'Pokemon Solid'; padding: 5px; background-color: dimgrey; opacity: .95; border-radius: 5px; color: yellow; letter-spacing: 2.5px; text-align: center; font-size: large">
        <u>Welcome to My CAPSTONE</u><br>
        <br>
        My Capstone is an application designed to help with type advantage in popular mobile game Pokemon GO. Type Advantage is the math behind pokemon that is used to determine which pokemon are better than others
        Understanding type advantage is important in pokemon and pokemon go and my app hopes allow people to create teams and see advantages and disadvantages. As well as seeing all pokemon currenlty available in PokemonGO.<br>
        <br>
    </p>
    <hr style="border: 2px solid yellow; border-radius: 3px">
    <p style="font-family: Pokemon Solid; padding: 5px; background-color: dimgrey; opacity: .95; border-radius: 5px; color: yellow; letter-spacing: 2.5px; text-align: center; font-size: large">
        <u>What You Can Do?</u><br>
        <br>
        Coming into the website you can create an account. Once having an account you can look through all the pokemon available, showing there name a description and both types(if they have two).
        You can also view a visual representation of type advantages through the Type Advantage chart on the view pokemon Page. You can then use that knowledge to create a new team
        of six pokemon. You give it a name and create your new team, once the new team has been created you can now view it, and on that page will be every pokemon along with their types
        and the overall best type(s) and worst type(s) for your team to face up against. You can create multiple teams and view them all from your teams view. You can also insert information about yourself
        into your user profile. From your user profile you can change your Username, Password, Email, Favorte Type, Favorite Pokemon, and groups you are apart of. <br>
        <br>
    </p>
    <hr style="border: 2px solid yellow; border-radius: 3px">
    <p style="font-family: Pokemon Solid; padding: 5px; background-color: dimgrey; opacity: .95; border-radius: 5px; color: yellow; letter-spacing: 2.5px; text-align: center; font-size: large">
        <u>About Me (The Creator)</u><br>
        <br>
        I am just some dude that enjoys pokemon. Its a fun game and i thought this might be a usefull resource for people. I am 18 years old and i love video games and music. I have played games eversince i was a young child and
        they have always been one of my favorite hobbies. Music is a close second and maybe one day i might be able to create my own music which would be a cool hobby. Over all
        i am a very relaxed person and i just want to live the best life that i can. Also i want lots and lots of tattoos and maybe one day people will stop caring if you have them.
        Anyway, enjoy the website and i hope it is userful or interesting.<br>
        <br>
    </p>
</body>
