@{
    ViewBag.Title = "Home Page";
}
<body style="background-image: url('/Images/Background Images/Pokemon2.jpg'); background-repeat: no-repeat; position: center; background-size: cover; background-attachment: fixed">
<div class="jumbotron" style="color: yellow; background-color: #515151; opacity: .9">
    <h1 style="color: yellow; text-shadow: 2px 1px blue; font-family: 'Pokemon Solid'; letter-spacing: 3px; padding: 5px"><u>Pokemon GO! Fun</u></h1>
    <p class="lead" style="font-family: 'Pokemon Solid'; color: yellow; letter-spacing: 2px; text-shadow: 1px 1px blue">Pokemon GO! is A mobile adaptation of the popular Nintendo franchise Pokemon developed by Niantec</p>
    <p><a href="https://pokemongolive.com/en/" class="btn btn-lg btn-default" style="font-family: 'Pokemon Solid'; text-shadow: 1px 1px blue; background-color: black; color: yellow; letter-spacing: 1px">Learn More &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4" style="background-color: dimgrey; border-radius: 5px; opacity: .9">
        <h2 style="color: yellow; text-shadow: 2px 1px blue; font-family: 'Pokemon Solid'; letter-spacing: 2px"><u>About My Capstone</u></h2>
        <p style="font-family: 'Pokemon Solid'; letter-spacing: 2px; color: yellow; text-shadow: 1px 1px blue">
            My Capstone is an application that allows a user to create an account and login in order to
            view pokemon, create pokemon Teams, and Create groups for multiple users.
        </p>
        <p>@Html.ActionLink("Learn More »", "About", "Home", new { area = "" }, new { @class = "btn btn-default", @style = "font-family: Pokemon Solid; text-shadow: 1px 1px blue; background-color: black; color: yellow; letter-spacing: 1px" })</p>
    </div>
    <div class="col-md-4" style="background-color: dimgrey; border-radius: 5px; opacity: .9">
        <h2 style="color: yellow; text-shadow: 2px 1px blue; font-family: 'Pokemon Solid'; letter-spacing: 2px"><u>About Pokemon</u></h2>
        <p style="font-family: 'Pokemon Solid'; letter-spacing: 2px; color: yellow; text-shadow: 1px 1px blue">Pokemon has alot more than just a mobile game. As stated, the pokemon franchise is very popular and has A card game, video games, an anime as well as merchandise and other novelty items</p>
        <p><a class="btn btn-default" style="font-family: 'Pokemon Solid'; text-shadow: 1px 1px blue; background-color: black; color: yellow; letter-spacing: 2px" href="https://www.pokemon.com/us/">Learn More &raquo;</a></p>
    </div>
    <div class="col-md-4" style="background-color: dimgrey; border-radius: 5px; opacity: .9">
        <h2 style="color: yellow; text-shadow: 2px 1px blue; font-family: 'Pokemon Solid'; letter-spacing: 2px"><u>About Niantic</u></h2>
        <p style="font-family: 'Pokemon Solid'; color: yellow; letter-spacing: 2px; text-shadow: 1px 1px blue">Niantic, Inc. is an American software development company based in San Francisco, which is best known for developing the augmented reality mobile games Ingress, Pokémon Go and the upcoming Harry Potter: Wizards Unite.</p>
        <p><a class="btn btn-default" style="font-family: 'Pokemon Solid'; text-shadow: 1px 1px blue; background-color: black; color: yellow; letter-spacing: 1px" href="https://www.nianticlabs.com/">Learn More &raquo;</a></p>
    </div>
</div>
</body>